<footer class="footer">
<div class="row" style="padding-left:20px;padding-top:20px;padding-bottom:20px;">
<div class=col-md-3 >
<h4>Contact Us</h4>
<form action="#">
  <div class="form-group">
    <input type="text" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="email" id="email" placeholder="Email">
  </div>
   <div class="form-group">
    <textarea id="message" placeholder="Messasge" style="height:120px"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</br>
<p>Tel: 0123456789</p>
<p>Fax: 0123456789</p>
<p>exmaple@rmit.edu.au</p>
</div>
<div class=col-md-3>
<h4>General Inquiries</h4>
<a>Andy Song</a></br>
<a>Juliang Jiang</a></br>
<a>Ali</a></br>
</div>
<div class=col-md-3>
<h4>Useful Links</h4>
<a>RMIT Course</a></br>
<a>RMIT Help Desk</a></br>
<a>RMIT International</a></br>
</div>
<div class=col-md-3>
<h4>Media</h4>
<div class="hover_img">
     <a href="#">Youtube<span><%= image_tag("rails.png")%></span></a>
</div>
<div class="hover_img">
     <a href="#">Facebook<span><%= image_tag("rails.png")%></span></a>
</div>
<div class="hover_img">
     <a href="#">LinkedIn<span><%= image_tag("rails.png")%></span></a>
</div>
<div class="hover_img">
     <a href="#">Instagram<span><%= image_tag("rails.png")%></span></a>
</div>


</div>
</footer>
